.wrapper {
	display: flex;
	flex: 1;
	background-color: #e5e5e590;
	// height: 100%;

	.sidemenu {
		display: flex;
		flex: 1.2;
		margin-right: -10px;
	}

	.container {
		display: flex;
		flex: 7;
		flex-direction: column;

		.main {
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			.table {
				display: flex;
				margin-top: 5px;
				gap: 5px;
			}
			.log {
				margin-top: 12px;
			}
		}
	}
}
