.wrapper {
	display: flex;
	height: 70px;
	font-family: Roboto;
	background-color: white;
	margin-bottom: 5px;

	.header_left {
		display: flex;
		flex: 3;
		justify-content: space-between;

		.logo {
			height: 59px;
			width: 110px;
			padding: 10px;
		}
	}

	.header_right {
		display: flex;
		flex: 2;
		justify-content: space-between;
		border-left: 1px solid rgb(218, 218, 218);
		padding-right: 30px;

		.arrow_icon {
			display: flex;
			font-size: small;
			padding: 15px;
		}

		> span > ul > li {
			list-style: none;
			text-transform: uppercase;
			font-size: 10px;
		}

		> span > ul > li:last-child {
			font-weight: 700;
			font-size: 16px;
			color: #1e1e1e;
		}
	}
	.demo {
		display: flex;
		flex: 0.7;
		border-left: 1px solid rgb(218, 218, 218);
		align-content: center;
		justify-content: flex-end;
		padding: 20px;

		.button {
			background-color: black;
			color: white;
			height: 30px;
			width: 60px;
		}

		.icon {
			font-size: small;
			padding: 10px 5px 0 10px;
		}
	}
}
