.container {
	display: flex;
	flex-direction: column;
	height: 100%;
	background-color: white;
	gap: 20px;
	font-family: Roboto;

	.menu_item {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 30px 10px 0 10px;

		> span {
			font-size: 12px;
			font-weight: 500;
		}
	}
}
