.container {
	display: flex;
	flex-direction: column;
	flex: 1;
	background-color: #e5e5e590;
	height: 100vh;

	.main {
		display: flex;
		flex: 1;
		background-color: #e5e5e590;
		gap: 1px;

		.sidebar {
			flex: 0.5;
		}

		.orderbook {
			flex: 10;
			padding: 0 1px 0 10px;
		}
	}
}
